html,
body {
    height: 100%;
}

.form-select {
    width: 180px !important;
}

.pagination {
    margin-bottom: 0;
}

.sortField {
    position: relative;
    cursor: pointer;

}

.sortField::after {
    content: '';
    width: 28px;
    height: 28px;
    background-size: 100%;
    top: 7px;
    right: 5px;
    position: absolute;
    background-image: url(./icons/sort_arrow.svg);
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}

.rotate::after {
    transform: rotate(180deg);
}

.active::after {
    width: 38px;
    height: 38px;
    top: 0px;
    right: 0px;
}